[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.git
[submodule "cipulot_kicad_parts"]
	path = cipulot_kicad_parts
	url = https://github.com/Cipulot/cipulot_kicad_parts.git
